body {
  font-family: serif;
  text-align: center;
  background: #0d0d0d;
  color: white;
}

.input-group {
  margin: 15px;
}

#spread-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  margin-top: 30px;
  padding: 20px;
}

.card img {
  width: 100px;
  border-radius: 10px;
  transition: transform 0.4s;
}

.card img.reversed {
  transform: rotate(180deg);
}

button {
  padding: 10px 20px;
  background: gold;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
